@font-face {
    font-family: Nunito;
    src: url(assets/Nunito/Nunito-Regular.ttf);
}

*
{
    font-family:'Open Sans';
    margin: auto;
    box-sizing: border-box;
    user-select: none;
    background-color: rgb(43, 43, 43);
}

h1 {
    font-family: Nunito;
    margin: auto;
    box-sizing: border-box;
    user-select: none;
    background-color: rgb(231, 229, 229);
}
