:root
{
    --boxRadius: 10px;
    --wallWidth: 100%;
    --pfpSize: 50vh;
    --pfpMTop:10%;
    --pfpMLeft: -50%;
    --textMTop:200px;
}

@font-face
{
    font-family: Nunito;
    src: url(assets/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: Eight One;
    src: url(assets/fonts/EightOne/EightOne.ttf);
}
body
{
    
    color:white;
    /* display:flex;
    justify-content: center; */
    overflow:hidden;
}
*
{
    font-family:'Nunito';
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}

h1
{
    font-family: Eight One;
    text-align:center;
    color: rgb(231, 229, 229);
}
.gradient /* linear-gradient(degree, stop, stop, ...) */
{
    background: color(rgb(255, 255, 255));
}

.heart
{
    display:flex;
    justify-content: center;
    background: color(rgb(255,255,255));
    width: var(--wallWidth);
    min-height: 173px;
    height:100vh;
}

.wall-image
{

    position:absolute;
    border-top: 0;
    width:var(--wallWidth);
    /*height: 50%;*/
} 

.pfp
{
    z-index: 1;
    width: var(--pfpSize);
    height:var(--pfpSize);
    position: absolute;
    margin-top: var(--pfpMTop);
    margin-left: var(--pfpMLeft);
    border-radius: 50%;
}
.profile-card
{
    z-index:2;
    margin: 25vh 0 20vh 50vw; 
    padding: 0 10vw;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.855);
}
.page-doll
{
    margin-left:70%;
    margin-top: 70%;
    
} 