@font-face
{
    font-family: Nunito;
    src: url(assets/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: Eight One;
    src: url(assets/fonts/EightOne/EightOne.ttf);
}
body
{
    background: rgb(240,104,0);
    background: linear-gradient(90deg, rgba(158,165,195,1) 0%, rgba(121,125,168,1) 100%);
}
*
{
    font-family:'Nunito';
    margin: auto;
    box-sizing: border-box;
    user-select: none;
}

h1
{
    font-family: Eight One;
    text-align:center;
    color: rgb(231, 229, 229);
}
.gradient /* linear-gradient(degree, stop, stop, ...) */
{
    background: rgb(240,104,0);
    background: linear-gradient(circle , rgba(158,165,195,1) 0%, rgba(239,237,244,1) 57%, rgba(121,125,168,1) 100%);
}
